{% extends "homebase.html" %}

{% block title %} About Us {{ setting.company }} {% endblock  %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }}  {% endblock %}

{% block head %}
<link rel ='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}
<div class="content" style="background: white; padding-bottom: 500px"><div class="ic">Hakkımızda</div>
				<div class="container_12">
					{{setting.aboutus|safe}}

				</div>
			</div>



{% endblock %}