{% extends "homebase.html" %}

{% block title %} Vehicles {{ setting.company }} {% endblock  %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }}  {% endblock %}

{% block head %}
<link rel ='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}
<div class="content" style="background: white; padding-bottom:1000px"><div class="ic">vehicles</div>
				<div class="container_12">
					<div class="grid_6">
					{% for data in category_data %}
						<div class="grid_6">
							<a href="/category/{{data.id}}/{{data.slug}}" class="type"><img src="{{data.image.url}}" height="400" width="600" alt="">
								<span  style="font-size: 20px" > <b>{{data.title}} | Detaylar için tıklayınız.</b> </span>
							</a>
						</div>
						<div class="grid_6 prefix_6 " style="margin-top: -400px">
							{{data.description}}
							<button class="btn btn-large" type="submit" style="margin-left: 200px" > Rezervasyon yap</button>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>



{% endblock %}