{% load static %}
<div class="content"><div class="ic"></div>
				<div class="container_12" style="background: white; padding-bottom: 200px; width: 1440px  ">
					<div class="grid_5">
						<h3>Searching Form</h3>
						<form id="bookingForm">
							<div class="fl1">
								<div class="tmInput">
									<input name="Name" placeHolder="Name:" type="text" data-constraints='@NotEmpty @Required @AlphaSpecial'>
								</div>
								<div class="tmInput">
									<input name="From" placeHolder="From:" type="text" data-constraints="@NotEmpty @Required ">
								</div>
							</div>
							<div class="fl1">
								<div class="tmInput">
									<input name="Email" placeHolder="Email:" type="text" data-constraints="@NotEmpty @Required @Email">
								</div>
								<div class="tmInput mr0">
									<input name="To" placeHolder="To:" type="text" data-constraints="@NotEmpty @Required">
								</div>
							</div>
							<div class="clear"></div>

							<div class="clear"></div>
							<strong>Date</strong>
							<label class="tmDatepicker">
								<input type="text" name="Date"	placeHolder='20/05/2014' data-constraints="@NotEmpty @Required @Date">
							</label>
							<div class="clear"></div>

								<div class="input-rating" >
									<p>Comfort:</p>
										<input name="Economy" type="radio" id="tmRadio0" data-constraints='@RadioGroupChecked(name="Economy", groups=[RadioGroup])' />
										<span>Economy </span>

										<input name="Standart" type="radio" id="tmRadio1" data-constraints='@RadioGroupChecked(name="Standart", groups=[RadioGroup])' />
										<span>Standart</span>

										<input name="Lux" type="radio" id="tmradio2" data-constraints='@radiogroupchecked(name="Lux", groups=[radiogroup])'  />
										<span>Lux</span>
								</div>

								<div class="clear"></div>
							<div class="fl1 fl2">
								<em>adults</em>
								<select name="adults" class="tmselect auto" data-class="tmselect tmselect2" data-constraints="">
										<option>1</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
								</select><div class="clear"></div>
							</div>
							<div class="fl1 fl2">
								<em>children</em>
								<select name="Children" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
									<option>0</option>
									<option>0</option>
									<option>1</option>
									<option>2</option>
								</select>
							</div>

							<div class="clear"></div>
							<a href="/user_search" class="btn" data-type="submit">Search</a>
						</form>
					</div>
					<div class="grid_6 prefix_1">
						{% for rs in vehiclelist %}
							<a href="/vehicle/{{rs.id}}/{{rs.slug}}" class="type"><img src="{{rs.image.url}}" alt="" style="height: 480px"><span class="type_caption">{{rs.category}}</span></a>
						{% endfor %}
					</div>
					<div class="clear"></div>
				</div>
	</div>