{% load static %}

<style>
ul li a:hover { background: #449d44; }
    li:hover > ul {
  display: block;
  position: absolute;
        margin-top: -5px;
}

.main-navigation li ul li { border-top: 0; }
    ul ul ul {
  left: 100%;
  top: 0;

}
    ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }
</style>

<script>
	/*
	$(function() {
    	$("#q").autocomplete({
      		source: "/search_auto/",
      		select: function (event, ui) { //item selected
     		AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  } */

</script>
<div class="main" style="margin-top: -24px">
<header>
	<div class="menu_block">
		<div class="container_12" >
			<div class="grid_12" style="margin-top: 20px">
				<nav class="horizontal-nav full-width horizontalNav-notprocessed">
					<ul class="sf-menu">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About Us</a></li>
						<li><a href="/references">References</a></li>
						{% load mptt_tags %}
						<li> <a href="/services">Services</a>
							<ul>
								{% recursetree category %}
								<li><a href="/categories/{{ node.id }}/{{ node.slug }}" style="font-weight: bold">
									{{ node.title }}</a>
								</li>
								{% endrecursetree %}
							</ul>
						</li>
						<li><a href="/contact">Contacts</a></li>
						<li>
							<div class="header-search">
								<form action="/search/" method="post">
									{% csrf_token %}
							 		<input name="q" id="q" class="input search-input" type="text" placeholder="Enter your keyword">
									<button class="search-btn"><i class="fa fa-search"></i> </button>
								</form>
							</div>
						</li>
						<li>
							{% if user.id is not None %}
								<a href="/user" ><i class="fa fa-user" style="margin-right: 5px"></i>{{user.first_name}} {{user.last_name}}</a>
							{% else %}
								<a href="/login" class="text-uppercases">Login</a> / <a href="/signup/" class="text-uppercases">Sign Up</a>
							{% endif %}
							<ul class="custom-menu">
								<li><a href="/user"><i class="fa fa-user"></i> My Account</a> </li>
								<li><a href="/user/reservations"><i class="fa fa-phone"></i> My Reservations </a> </li>
								<li>
									<a href="/shopcart">
									<i class="fa fa-shopping-cart"></i>
									<span class="">{{request.session.cart_items}}</span>
									<strong class="text"> Reservation Cart</strong>
									</a>
								</li>
								<li><a href="/user/comments"><i class="fa fa-comment"></i> My comments</a> </li>
								<li><a href="/logout/"><i class="fa fa-unlock-alt"></i> Logout</a> </li>
							</ul>
						</li>

					</ul>
				</nav>


			</div>


		</div>

	</div>

</header>

</div>