{% extends "homebase.html" %}

{% block title %} Sign Up {{ setting.company }} {% endblock  %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }}  {% endblock %}

{% block head %}
<link rel ='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}

<div class="content"><div class="ic"> Sign Up Page </div>
	<div class="row">
			<div class="container_12">
				<div class="grid_12">
					<h3> Sign Up Form  </h3>
					<div class="grid_4 prefix_1">

						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-{{message.tags}}" role="alert">
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}


						<form method="post">
							{% csrf_token %}
							{% for field in form %}
								<p>
									{{ field.label_tag }}<br>
									{{ field }}
									{% if field.help_text %}
										<small style="color: grey">{{ field.help_text }}</small>
									{% endif %}
									{% for error in field.errors %}
										<p style="color: red"> {{ error }} </p>
									{% endfor %}

								</p>
							{% endfor %}

							<button type="submit"> Sign Up </button>
						</form>

					</div>


				</div>
				</div>

			</div>
	</div>



{% endblock %}