{% load static %}
<script>
			$(document).ready(function(){
				jQuery('#camera_wrap').camera({
					loader: false,
					pagination: false ,
					minHeight: '500',
					thumbnails: false,
					height: '60%',
					caption: true,
					navigation: true,
					fx: 'mosaic'
				});
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
<div class="slider_wrapper">

	<div id="camera_wrap" class="">
		{% for rs in sliderdata %}

			<div data-src="{{ rs.image.url }}" >

			</div>
			<h2 class="black-color" > {{rs.title}} </h2>
			<h2 class="black-color font-weak" > {{ rs.description }}</h2>
			<a href="/vehicle/{{rs.id}}/{{rs.slug}}" class="primary-btn">Click for Reservation</a>


		{% endfor %}
	</div>


</div>


			<div class="c_phone" style="margin-top:10px">
				<div class="container_12">
					<div class="grid_12">
						<div class="fa fa-phone">+90 555 555 55 55</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>

