{% extends "homebase.html" %}

{% block title %} Vehicle Details {{ vehicles.title }} {% endblock  %}
{% block keywords %} {{ vehicles.keywords }} {% endblock %}
{% block description %} {{ vehicles.description }}  {% endblock %}

{% block head %}
<link rel ='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}

<div class="content" style="background: white; padding-bottom: 1000px">
	<div class="ic">Araç Detayı</div>
				<div class="container_12" style="margin-bottom: 250px">
					<div class="grid_12">
						<h3>{{vehicles.title}} | Fiyat : {{vehicles.price}} </h3>
					</div>
					<div class="clear"></div>
					<div class="gallery">
						{% for image in images%}
							<div class="grid_4" style="margin-bottom: 100px"><img src="{{image.image.url}}" alt="" style="height: 300px"></div>
						{% endfor%}
						{{vehicles.detail | safe}}
						<form action="/reservation/addtocart/{{ vehicles.id }}" method="post">
							{% csrf_token %}
							<div class="qty-input">
								<span class="text-uppercase">Kişi Sayısı: </span>
								<input name="quantity" class="input" type="number" min="0" max="{{vehicle.amount}}" value="1">
							</div>
							<button type="submit" class="btn-small">Add To Mycart</button>
						</form>
					</div>
					<div class="">

					</div>
					<div class="grid_12 prefix_4">

						<div class="row">

					{% for rs in comments %}
					<div style="border: 1px solid red; width: 250px; margin-bottom: 10px;">
						<div> <a href="#"><i class="fa fa-user-o"></i><b>User: {{rs.user.first_name}} {{rs.user.last_name}}</b></a> </div>
						<div class="review-rating pull-right">
								{{rs.rate}} <i class="fa-star fa"></i>
						</div>
						<div class="review-body"><b>{{rs.subject}} </b>
						<p>{{ rs.comment }}</p>
						</div>
						<i class="fa fa-clock-o"></i>{{rs.create_at}}
					</div>
					{% endfor %}
		</div>

	<div class="grid_6">
		<h4 class="text-uppercase"> Your Comment </h4>
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-warning{{message.tags}}" role="alert">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}

		<form id="bookingForm" action="/vehicle/addcomment/{{ vehicles.id }}" method="post">
			{% csrf_token %}
				<div class="fl1">
					<div class="tmInput">
						<input type="text" name="subject" id="id_subject" placeholder="subject">
					</div>
					<div class="tmTextarea">
						<textarea name="comment" id="id_comment" placeholder="your review"></textarea>
					</div>
					<div class="form-group">
						<div class="input-rating">
							<strong> Rating: </strong>
							<div class="stars" style="display: inline-block">
								<input type="radio" id="star5" name="rate" value="5"/>
								<input type="radio" id="star4" name="rate" value="4"/>
								<input type="radio" id="star3" name="rate" value="3"/>
								<input type="radio" id="star2" name="rate" value="2"/>
								<input type="radio" id="star1" name="rate" value="1"/>
							</div>
						</div>
					</div>
					{% if user.id is not None %}
						<button class="primary-btn">Send Comment </button>
					{% else %}
						Yorum eklemek için <a href="/login">login</a>olunuz!
					{% endif %}
				</div>
			</form>
	</div>
</div>
				</div>
</div>

{% endblock %}