{% extends "homebase.html" %}

{% block title %} Shop Cart page {% endblock  %}
{% block keywords %} {{ categorydata.keywords }} {% endblock %}
{% block description %} {{ categorydata.description }}  {% endblock %}

{% block head %}
<link rel ='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}

<div class="content" style="background: white; padding-bottom: 400px">
	<div class="ic">Shop Cart</div>
				<div class="container_12">
					<div class="section-title">
						<h3 class="title">Shop Cart list</h3>
	   				</div>

					<table>
						<thead>
						<tr>
							<th class="text-center" style="padding: 20px">Image</th>
							<th class="text-center" style="padding: 20px">Vehicle</th>
							<th class="text-center" style="padding: 20px">Price</th>
							<th class="text-center" style="padding: 20px">Quantity</th>
							<th class="text-center" style="padding: 20px">Total</th>
							<th class="text-right" style="padding: 20px"> Delete</th>
						</tr>
						</thead>
						<tbody>
						{% for rs in schopcart %}
							<tr>
								<td class="thumb"><img src="{{rs.vehicle.image.url}}" height="100" alt=""> </td>
								<td class="details">
									<a href="#">{{rs.vehicle}}</a>
								</td>
								<td class="price text-center"><strong>${{rs.vehicle.price}}</strong><br><del class="font-weak"></del> </strong></td>
								<td class="qty text-center"><strong>{{rs.quantity}}</strong> </td>
								<td class="total text-center"><strong class="primary-color">${{rs.amount}}</strong> </td>
								<td class="text-right">
									<a href="/reservation/deletefromcart/{{rs.id}}"  onclick="return confirm('Are you sure wanna delete?')" class="btn-small">
										delete
									</a>
								</td>
							</tr>
						{% endfor %}

					</tbody>

					<tfoot>
						<tr>
							<th class="empty" colspan="3"></th>
							<th>SUBTOTAL</th>
							<th colspan="2" class="sub-total"> ${{ total }}</th>
						</tr>

						<tr>
							<th class="empty" colspan="3"></th>
							<th>TOTAL</th>
							<th colspan="2" class="sub-total"> ${{ total }}</th>
						</tr>


					</tfoot>
					</table>
					<div class="pull-right">
						<a href="/reservation/reservationvehicle" class="btn btn-small">Complete To Reservation</a>

					</div>
				</div>
	</div>
</div>

{% endblock %}